@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./Pretendard-Bold.woff') format('woff');
}

body {
  font-family: 'Pretendard-Bold';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.wrap {
  width: 15rem;
  height: 6rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: 2px solid #eee;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.d-day_box {
  font-family: 'pretendard';
  font-weight: 700;
  font-size: 1.5rem;
  color: #444;
}